li {
    list-style: none;
    font-family: 'Ubuntu';
    font-size: 2em;
    background-color: teal;
    border: none;
    border-radius: 10px;
    margin: 0.5em auto 0.5em auto;
    padding: 0.5em;
    text-align: left;
    width: 60%;
    color: white;
}

button {
    float: right;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    padding: 0.3em;
    min-width: 5em;
    margin-right: 2px;
    background-color: whitesmoke;
    color: #4a4848;
    font-family: inherit;
}

select {
    float: right;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    padding: 0.3em;
    min-width: max-content;
    margin-right: 2px;
    background-color: whitesmoke;
    font-size : 0.75em;
    font-style: italic;
    color: yellowgreen;
    font-family: inherit;
    background-color: #0c3535;
}

.todo {
    border: none;
    font-family: inherit;
    background-color: teal;
    color: white;
    font-size: inherit;
}