.modal-box {
    border: 2px solid teal;
    z-index: 2;
    background-color: blanchedalmond;
    width: 40%;
    height: 30%;
    min-height: 30%;
    float: left;
    position: absolute;
    top: 30%;
    left:30%;
    font-size: 2em;
    color: teal;
    font-family: 'Ubuntu';
    text-align: center;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
}

.modal-box > p {
    padding-bottom : 10px;
}